:root {
    --primary-color: #BF0A19;
    --secondary-color: #8C1822;
    --accent-color: #BF0426;
    --light-color: #F2F2F2;
    --dark-color: #0D0D0D;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    padding: .5rem;
    z-index: 10000;
    width: 100%;
}
.header-cabezera {

    width: 100%;
    height: 50rem; /* O el tamaño que prefieras */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-button{
    position: absolute;
    left:2rem;
    top:30rem;    
    left: 50px;
    background-color: var(--accent-color);        
     padding: 12px 20px;
        border: none; color: #ffffff !important;    
    border-radius: 12px;    
    font-size: 16px;
        font-weight: bold;    
    text-transform: uppercase;    
    letter-spacing: 1px;    
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.header-button:hover {
    background-color: #b60c14;
    /* Un tono más oscuro al pasar el mouse */
    transform: scale(1.05);
    /* Efecto de agrandamiento */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    /* Sombra más fuerte */
}

.logo-container {
    display: flex;
    gap: 1.5rem;
}

.logo {
    height: 3.5rem;
}

.nav-menu {
    display: flex;
    margin-right: 3rem;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 1.2rem;
}

.nav-menu a {
    position: relative;
    text-decoration: none;
    color: var(--light-color);
    padding-bottom: 0.3rem;
}

.nav-menu a:hover {
    color: var(--accent-color);
    transition: color 0.3s ease-in-out;
}


.nav-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.5s ease-in-out;
}

.nav-menu a:hover::after {
    width: 100%;
}


/* Estilos para el botón de menú */

footer {
    width: 100%;
    background-color: var(--dark-color);
    padding: .5rem;
    color: var(--light-color);
    text-align: center;
}
.nav-toggle{
    display :none;
    left:-100px
}
.fa-xmark,
.fa-bars{    
user-select: none;
color:#8C1822;
font-size: 2rem;
}
.layout__menu-toggle{
    display: none;
}


/* Responsive */
@media (max-width: 768px) {
    .nav-menu{
        display: none;
        left: -1000px;
    }
   
       .nav-toggle{
        position: fixed;
        
        z-index: 9999;
        width: 75%;
        height: 100%;
        right: 0;
        color: #0D0D0D;
        background-color: var(--light-color);
    }
    .nav-toggle a {
        position: relative;
        text-decoration: none;
        color: var(--dark-color);  
        font-size: 1.8rem;      
    }
    .nav-toggle li {
        margin-bottom: 2rem;
    }
   /* Mostrar el ícono de hamburguesa */
  .layout__menu-toggle {
    display: block;
    position: fixed;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 3.2rem;
    text-align: center;    
    right: 1rem;
    top: 0.7rem;
   
    cursor: pointer;
    transition: all 500ms ease-in-out;
    z-index: 9999;

  }

  .layout__menu-toggle .fa-xmark {
    display: none;
  }
  .logo-a{
    display: none;
  }

  .nav-toggle--visible {

    display: block;
    position: fixed;
    width: 100%;
    left: 0%;
    color: var(--dark-color);
    background-color: var(--light-color);
    z-index: 500;
    transition: right 0.5s;
  }
  .layout__menu-toggle.active .fa-bars {
    display: none;
  }

  /* Y se muestra el ícono de la X */
  .layout__menu-toggle.active .fa-xmark {
    display: block;
  }
}


